In [ ]:
----
​
### Exercise 1:
Declare a variable `x` and assign it the value `10`.
​
```python
# Exercise 1
```

In [53]:
x =10
print(x)

10

In [ ]:
### Exercise 2:
Assign the value `True` to a variable called `is_valid`.
​
```python
# Exercise 2
```

In [52]:
is_valid = 'True'
print(is_valid)

True

In [ ]:
### Exercise 3:
Create a string variable `name` with the value "Python Programming".
​
```python
# Exercise 3
```

In [51]:
name = "Python Programing"
print(name)

Python Programing

In [ ]:
​
### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.
​
```python
# Exercise 4
```

In [50]:
sum_result = 5+3
print(sum_result)

8

In [ ]:
### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.
​
```python
# Exercise 5
```

In [49]:
a=5
b=10
c=15
print(a,b,c)

5 10 15

In [ ]:
​
### Exercise 6:
Assign the value of one variable `x` to another variable `y`.
​
```python
# Exercise 6
```

In [48]:
x=10
y=x
print(x)
print(y)

10
10

In [ ]:
​
### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.
​
```python
# Exercise 7
```

In [47]:
gravity = 9.8
print(gravity)

9.8

In [ ]:
### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.
​
```python
# Exercise 8
```

In [46]:
country = 'Kenya'
print(country)

Kenya

In [ ]:
### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.
​
```python
# Exercise 9
```

In [45]:
age = 25
age_new = age + 1
print(age_new)

26

In [ ]:
​
### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.
​
```python
# Exercise 10
```

In [44]:
a=20
b=7
c= a - b
print(c)

13

In [ ]:
​
### Exercise 11:
Assign an integer value and a floating-point value to two different variables.
​
```python
# Exercise 11
```

In [43]:
int_1 = 40
int_2 = 45.8
print(int_1)
print(int_2)
type(int_1)

40
45.8

int

In [ ]:
​
### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.
​
```python
# Exercise 12
```

In [42]:
is_completed ='False'
print(is_completed)

False

In [ ]:
### Exercise 13:
Swap the values of two variables `x` and `y`.
​
```python
# Exercise 13
```

In [41]:
x,y = 12,78
z=y
y=x
x=z
print(x,y,z)

78 12 78

In [ ]:
​
### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.
​
```python
# Exercise 14
```

In [40]:
complex_num = '3 + 4j'
print(complex_num)

3 + 4j

In [ ]:
​
### Exercise 15:
Reassign a variable from an integer to a string.
​
```python
# Exercise 15
```

In [39]:
a=70
string = str(70)
print(string)
type(string)

70

str

In [ ]:
---
​
### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.
​
```python
# Exercise 16
```

In [38]:
first_name = 'Joel'
last_name = 'Nyongesa'
print(first_name, last_name)

Joel Nyongesa

In [ ]:
​
### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.
​
```python
# Exercise 17
```

In [37]:
temperature = 35.5
print(temperature)
type(temperature)

35.5

float

In [ ]:
​
### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.
​
```python
# Exercise 18
```

In [36]:

a =8 
b= 6
product =a*b
print(product)

48

In [ ]:
​
### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.
​
```python
# Exercise 19
```

In [35]:
sentence = 'I am so busy today.'
print(sentence)

I am so busy today.

In [ ]:
### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.
​
```python
# Exercise 20

In [33]:
int_1 = '50'
int_value= int(int_1)
print(int_value)
type(int_value)

50

int

In [ ]:
---
​
### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.
​
```python
# Exercise 21
```

In [32]:
a=144
b=12
quotient = a/b
print(quotient)

12.0

In [ ]:
​
### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.
​
```python
# Exercise 22
```

In [31]:
a=47 
b=5
remainder =  a/b- a//b
print(remainder)

0.40000000000000036

In [ ]:
---
​
### Exercise 23:
Create a variable `is_student` and assign it the value `True`.
​
```python
# Exercise 23
```

In [30]:
is_student = 'True'
print(is_student)

True

In [ ]:
​
### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.
​
```python
# Exercise 24
```

In [29]:
a=45 
b=4
modulo_operation = a%b
print(modulo_operation)

1

In [ ]:
​
### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.
​
```python
# Exercise 25
```

In [28]:
pi = 3.14159
print(pi)

3.14159

In [27]:
### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.
​
```python
# Exercise 26

SyntaxError: invalid non-printable character U+200B (3076318134.py, line 3)

In [26]:
length = 5
width = 6
area = length * width
print(area)

30

In [ ]:
​
### Exercise 27:
Assign a negative number to a variable `negative_value`.
​
```python
# Exercise 27
```

In [25]:
negative_value = -56
print(negative_value)

-56

In [ ]:
​
### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.
​
```python
# Exercise 28
```

In [24]:
greeting = 'Hello, World!'
print(greeting)

Hello, World!

In [ ]:
### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).
​
```python
# Exercise 29
```

In [23]:
population = 7998998880
print(population)

7998998880

In [ ]:
​
### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.
​
```python
# Exercise 30
```

In [22]:

a= 2
power_of_8 = a**3
print(power_of_8)

8

In [ ]:
​
### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.
​
```python
# Exercise 31
```

In [20]:
fruits = 'banana','mango', 'orange'
print (fruits)

('banana', 'mango', 'orange')

In [ ]:
### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.
​
```python
# Exercise 32
```

In [19]:
cordinates = [23,56,78]
print(cordinates)

[23, 56, 78]

In [ ]:
### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.
​
```python
# Exercise 33
```

In [18]:
person = {'name':'Joel Nyongesa','age':34}
print(person)

{'name': 'Joel Nyongesa', 'age': 34}

In [ ]:
​
### Exercise 34:
Use variables to store the sum of two floating-point numbers.
​
```python
# Exercise 34
```

In [17]:
a=3.67
b=56.89
sum = a+b
print(sum)

60.56

In [ ]:
​
### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.
​
```python
# Exercise 35
```

In [16]:
is_sunny = 10>5
print(is_sunny)

True

In [ ]:
​
### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.
​
```python
# Exercise 36
```

In [15]:
name = 'joel nyongesa'
age = 34
print(name, 'is aged', age)

joel nyongesa is aged 34

In [ ]:
​
### Exercise 37:
Reassign a variable that originally held a number to a boolean value.
​
```python
# Exercise 37
```

In [14]:
a=20
b = a<0
print(b)

False

In [ ]:
​
### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.
​
```python
# Exercise 38
```

In [13]:
is_weekend = 'False'
print(is_weekend)

False

In [ ]:
### Exercise 39:
Assign a multi-line string to a variable `description`.
​
```python
# Exercise 39
```

In [12]:
description = {'name':'joel nyongesa', 'age':23, 'height':1.45}
print(description)

{'name': 'joel nyongesa', 'age': 23, 'height': 1.45}

In [ ]:
### Exercise 40:
Use variables to store the result of the absolute value of `-25`.
​
```python
# Exercise 40
```

In [11]:
a=-25
absolute = abs(a)
print(absolute)

25

In [ ]:
​
### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.
​
```python
# Exercise 41
```

In [10]:
floor_div_result = 100//6
print(floor_div_result)

16

In [ ]:
### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.
​
```python
# Exercise 42
```

In [9]:
a= 4.5
b=67.8
sum = a+b

mix_sum = int(sum)
print(mix_sum)

72

In [ ]:
​
### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.
​
```python
# Exercise 43

In [8]:
a=10
b=15
comparison = a>b
print(comparison)

False

In [ ]:
### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.
​
```python
# Exercise 44

In [7]:
school = 'Aims is a pan african university focusion on creating the next einsten'
len(school)

70

In [ ]:
​
### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.
​
```python
# Exercise 45
```

In [5]:
a=7
b=3
division_result = a/b
print(division_result)

2.3333333333333335

In [ ]:
​
### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.
​
```python
# Exercise 46
```

In [6]:
# Exercise 46

# Create a variable and assign the value
speed = 100  # kilometers per hour

print("Speed:", speed, "km/h")

Speed: 100 km/h

In [ ]:
​
### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.
​
```python
# Exercise 47
```

In [3]:
x=5
y = 3*x + 5
print(y)

20

In [ ]:
​
### Exercise 48:
Use variables to calculate and store the average of three numbers.
​
```python
# Exercise 48
```

In [2]:
a=6
b=67
c=63
total = a+b+c
average = total/3
print(average)

45.333333333333336