# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [1]:
list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (list_1, type(list_1))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [3]:
fruits = ("apple", "banana", "tomatoes")
print (fruits, type(fruits))

('apple', 'banana', 'tomatoes') <class 'tuple'>

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [5]:
numbers = (10, 20, 34, 40)
print (numbers, type(numbers))

(10, 20, 34, 40) <class 'tuple'>

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [6]:
set_1 = [1, 2, 4, 5, 6]
print(set_1, type(set_1))

[1, 2, 4, 5, 6] <class 'list'>

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [7]:
student = {"name": "Alice", "age": 20 ,"grade": "A"}
print (student, type(student))

{'name': 'Alice', 'age': 20, 'grade': 'A'} <class 'dict'>

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [8]:
list_r = [10, 20, 30, 40, 50]
print(list_r[1], type(list_r))

20 <class 'list'>

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [9]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
print(fruits)

['apple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [10]:
set_5 = {1, 2, 3, 4, 5}
set_5.add(6)
print(set_5)

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [11]:
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
print(person)

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [12]:
range_object = range(10)
print(range_object)

range(0, 10)

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [13]:
list_t = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list_t = [i**2 for i in list_t]
print(new_list_t)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [14]:
tuple_1 = (2, 4, 6, 8, 10)
print(tuple_1, type(tuple_1))

(2, 4, 6, 8, 10) <class 'tuple'>

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [15]:
fruits_1 = ["apple", "banana", "cherry"]
for fruit in fruits_1:
    print(fruit)

apple
banana
cherry

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [16]:
numbers = {1, 2, 3, 4, 5}
if 3 in numbers:
    print("3 exists in the set.")
else:
    print("3 does not exist in the set.")

3 exists in the set.

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [17]:
numbers = (10, 20, 30)
length = len(numbers)
print(length)

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [18]:
scores = [80, 85, 90, 95]
scores.append(100)
print(scores)

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [20]:
def sum_of_list(input_list):
  """Calculates the sum of all elements in a list."""
  return sum(input_list)
my_list = [1, 2, 3, 4, 5]
total = sum_of_list(my_list)
print(f"The sum of the list is: {total}")

The sum of the list is: 15

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [21]:
number_3 = [1, 2, 2, 3, 4, 4, 5]
unique_numbers = set(number_3)
print(unique_numbers)

{1, 2, 3, 4, 5}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [22]:
string = "hello"
list_of_characters = list(string)
print(list_of_characters)

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [23]:
def reverse_tuple(input_tuple):
  """Reverses a tuple."""
  return tuple(input_tuple[::-1])

my_tuple = (1, 2, 3, 4)
reversed_tuple = reverse_tuple(my_tuple)
print(reversed_tuple)

(4, 3, 2, 1)

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [24]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
new_dict = {**dict1, **dict2}
print(new_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [25]:
squares_dict = {num: num**2 for num in range(1, 6)}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [26]:
my_dict = {"name": "Alice", "age": 30, "city": "London"}
for key, value in my_dict.items():
  print(f"{key}: {value}")

name: Alice
age: 30
city: London

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [27]:
alphabet_list = [chr(i) for i in range(ord('a'), ord('a') + 5)]
print(alphabet_list)

['a', 'b', 'c', 'd', 'e']

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [28]:
list1 = [1, 2, 3]
list2 = ["a", "b", "c"]
combined_list = list(zip(list1, list2))
print(combined_list)

[(1, 'a'), (2, 'b'), (3, 'c')]

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [29]:
my_list = [10, 20, 30, 40, 50]
index_of_50 = my_list.index(50)
print(index_of_50)

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [30]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()
print(names)

['Alice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [31]:
def find_largest_number(numbers):
  """Finds the largest number in a list of integers."""
  return max(numbers)

my_numbers = [10, 5, 20, 15, 25]
largest = find_largest_number(my_numbers)
print(f"The largest number in the list is: {largest}")

The largest number in the list is: 25

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [32]:
fruits = ["apple", "banana", "apple", "orange"]
apple_count = fruits.count("apple")
print(apple_count)

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [33]:
person = {"name": "Alice", "age": 25, "city": "New York"}
city_value = person["city"]
print(city_value)

New York

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [34]:
def remove_duplicates(input_list):
  """Removes duplicates from a list and returns a new list."""
  return list(set(input_list))

my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = remove_duplicates(my_list)
print(unique_list)

[1, 2, 3, 4, 5]

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [35]:
def list_intersection(list1, list2):
  """Returns the intersection of two lists."""
  return list(set(list1) & set(list2))


list_a = [1, 2, 3, 4, 5]
list_b = [4, 5, 6, 7, 8]
intersection = list_intersection(list_a, list_b)
print(intersection)

[4, 5]

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [36]:
def squares_generator():
  """Generates the squares of numbers from 1 to 10."""
  for i in range(1, 11):
    yield i**2


for square in squares_generator():
  print(square)

1
4
9
16
25
36
49
64
81
100

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [37]:
def sum_dict_values(input_dict):
  """Calculates the sum of all values in a dictionary."""
  return sum(input_dict.values())

my_dict = {"a": 10, "b": 20, "c": 30}
total_sum = sum_dict_values(my_dict)
print(f"The sum of the dictionary values is: {total_sum}")

The sum of the dictionary values is: 60

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [38]:
my_list = [3, 1, 4, 1, 5, 9]
sorted_list = sorted(my_list)
print(sorted_list)

[1, 1, 3, 4, 5, 9]

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [39]:
def find_longest_string(string_list):
  """Finds the longest string in a list of strings."""
  return max(string_list, key=len)


my_strings = ["apple", "banana", "cherry", "date"]
longest_string = find_longest_string(my_strings)
print(f"The longest string in the list is: {longest_string}")

The longest string in the list is: banana

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [40]:
my_list = [1, 2, 3, 4, 5]
all_greater_than_zero = all(x > 0 for x in my_list)
print(all_greater_than_zero)

True

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [41]:
list_of_tuples = [(i, i**2) for i in range(1, 6)]
print(list_of_tuples)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [42]:
def get_second_elements(list_of_tuples):
  """Returns a list of the second elements from each tuple in a list."""
  return [item[1] for item in list_of_tuples]


my_list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
second_elements = get_second_elements(my_list_of_tuples)
print(second_elements)

['a', 'b', 'c']

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

In [43]:
def flatten_list_of_lists(list_of_lists):
  """Flattens a list of lists into a single list."""
  return [item for sublist in list_of_lists for item in sublist]


nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
flattened_list = flatten_list_of_lists(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [44]:
fruits = ["apple", "banana", "cherry"]
for index, value in enumerate(fruits):
  print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: cherry

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [45]:
my_tuple = ()
if not my_tuple:
  print("The tuple is empty.")
else:
  print("The tuple is not empty.")

my_tuple_2 = (1, 2, 3)
if not my_tuple_2:
  print("The tuple is empty.")
else:
  print("The tuple is not empty.")

The tuple is empty.
The tuple is not empty.

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [46]:
even_numbers = list(range(2, 21, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [47]:
def reverse_list(input_list):
  """Reverses a list and returns the reversed list."""
  return input_list[::-1]


my_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(my_list)
print(reversed_list)

[5, 4, 3, 2, 1]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [48]:
cubes_dict = {num: num**3 for num in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [49]:
list_b = [1, 2, 2, 3, 4, 4, 5]
new_list_b = list(set(list_b))
print(new_list_b)

[1, 2, 3, 4, 5]

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [50]:
def get_values_for_key(list_of_dicts, key):
  """Takes a list of dictionaries and a key, and returns a list of values for that key."""
  return [d[key] for d in list_of_dicts if key in d]


list_of_students = [
    {"name": "Alice", "age": 20, "grade": "A"},
    {"name": "Bob", "age": 22, "grade": "B"},
    {"name": "Charlie", "age": 21, "grade": "C"},
]
ages = get_values_for_key(list_of_students, "age")
print(ages)

grades = get_values_for_key(list_of_students, "grade")
print(grades)

[20, 22, 21]
['A', 'B', 'C']

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [51]:
def fibonacci_generator(n):
  """Generates the Fibonacci sequence up to n terms."""
  a, b = 0, 1
  for _ in range(n):
    yield a
    a, b = b, a + b


n_terms = 10
fib_sequence = list(fibonacci_generator(n_terms))
print(fib_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [52]:
def unique_characters(input_string):
  """Returns a list of all unique characters in a string."""
  return list(set(input_string))


my_string = "programming"
unique_chars = unique_characters(my_string)
print(unique_chars)

['n', 'p', 'm', 'g', 'o', 'i', 'r', 'a']

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [53]:
def merge_sorted_lists(list1, list2):
  """Merges two sorted lists into a single sorted list."""
  merged_list = list1 + list2
  merged_list.sort()
  return merged_list


list_a = [1, 3, 5, 7]
list_b = [2, 4, 6, 8]
merged_list = merge_sorted_lists(list_a, list_b)
print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [54]:
numbers = [1, 2, 3, 4, 5, 6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6]

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [55]:
list_of_tuples = [(1, 2), (3, 4), (5, 6)]
my_dict = dict(list_of_tuples)
print(my_dict)

{1: 2, 3: 4, 5: 6}

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

In [56]:
def symmetric_difference_sets(set1, set2):
  """Returns the symmetric difference of two sets."""
  return set1 ^ set2


set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}
symmetric_difference = symmetric_difference_sets(set_a, set_b)
print(symmetric_difference)

{1, 2, 3, 6, 7, 8}

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [57]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
list3 = [5, 8, 9, 10]

common_elements = list(set(list1) & set(list2) & set(list3))
print(common_elements)

[5]

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [58]:
def recursive_factorial(n):
  """Calculates the factorial of a number using recursion."""
  if n == 0 or n == 1:
    return 1
  else:
    return n * recursive_factorial(n - 1)


number = 5
factorial_result = recursive_factorial(number)
print(f"The factorial of {number} is: {factorial_result}")

The factorial of 5 is: 120

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [59]:
list_with_empty_strings = ["apple", "", "banana", "", "cherry"]
list_without_empty_strings = [string for string in list_with_empty_strings if string]
print(list_without_empty_strings)

['apple', 'banana', 'cherry']

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

In [60]:
def swap_dict_keys_values(input_dict):
  """Swaps the keys and values of a dictionary."""
  return {value: key for key, value in input_dict.items()}


my_dict = {"a": 1, "b": 2, "c": 3}
swapped_dict = swap_dict_keys_values(my_dict)
print(swapped_dict)

{1: 'a', 2: 'b', 3: 'c'}

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [61]:
def get_even_numbers(input_list):
  """Returns a new list with only the even numbers from the input list."""
  return [num for num in input_list if num % 2 == 0]


my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = get_even_numbers(my_list)
print(even_numbers)

[2, 4, 6, 8, 10]

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [62]:
def get_first_elements(list_of_tuples):
  """Returns a list of the first elements from each tuple in a list."""
  return [item[0] for item in list_of_tuples]

my_list_of_tuples = [(1, 'a'), (2, 'b'), (3, 'c')]
first_elements = get_first_elements(my_list_of_tuples)
print(first_elements)

[1, 2, 3]

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [63]:
def remove_duplicates_preserve_order(input_list):
  """Removes duplicates from a list while preserving the order."""
  seen = set()
  result = []
  for item in input_list:
    if item not in seen:
      seen.add(item)
      result.append(item)
  return result


my_list = [1, 2, 2, 3, 4, 4, 5, 1, 6]
unique_list = remove_duplicates_preserve_order(my_list)
print(unique_list)

[1, 2, 3, 4, 5, 6]

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

In [64]:
list_of_strings = ["apple", "banana", "cherry"]
lengths = list(map(len, list_of_strings))
print(lengths)

[5, 6, 6]

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [65]:
numbers = [10, 20, 30, 40, 50]
average = sum(numbers) / len(numbers)
print(f"The average of the list is: {average}")

The average of the list is: 30.0

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

In [66]:
def generate_fibonacci_list(n):
  """Generates a list of the first n Fibonacci numbers."""
  fib_list = []
  a, b = 0, 1
  for _ in range(n):
    fib_list.append(a)
    a, b = b, a + b
  return fib_list


n_terms = 10
fibonacci_sequence = generate_fibonacci_list(n_terms)
print(fibonacci_sequence)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

In [67]:
from collections import Counter

my_list = ["apple", "banana", "apple", "cherry"]
element_counts = Counter(my_list)
print(element_counts)

Counter({'apple': 2, 'banana': 1, 'cherry': 1})

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [68]:
my_list = [2, 4, 6, 78, 7, 5, 4, 7, 8, 9, 7, 6, 5, 7, 8]
value_to_remove = 7
new_list = [item for item in my_list if item != value_to_remove]
print(new_list)

[2, 4, 6, 78, 5, 4, 8, 9, 6, 5, 8]

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

In [69]:
def starts_with_vowel(string_list):
  """Returns a list of strings from the input list that start with a vowel."""
  vowels = "aeiouAEIOU"
  return [s for s in string_list if s and s[0] in vowels]

my_strings = ["apple", "banana", "cherry", "orange", "grape"]
vowel_strings = starts_with_vowel(my_strings)
print(vowel_strings)

['apple', 'orange']

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

In [70]:
set_1 = {1,2,3,5,6,5,5,4,6}
set_2 = {1,2,3,4,5,5,6,2,8}
set_1.intersection(set_2)

{1, 2, 3, 4, 5, 6}

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

In [71]:
from itertools import chain

nested_list = [[1, 2], [3, 4], [5, 6],[4,6]]
flat_list = list(chain.from_iterable(nested_list))
print(flat_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6, 4, 6]

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

In [72]:
def elements_unique(input_list):
  """Checks if all elements in a list are unique."""
  return len(input_list) == len(set(input_list))

list1 = [1, 2, 3, 4, 5]
list2 = [1, 2, 2, 3, 4]

print(f"List 1 unique: {elements_unique(list1)}")
print(f"List 2 unique: {elements_unique(list2)}")

List 1 unique: True
List 2 unique: False

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

In [73]:
from functools import reduce

my_list = [1, 2, 3, 4, 5]
product = reduce(lambda x, y: x * y, my_list)
print(product)

120

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

In [74]:
def string_lengths_dict(string_list):
  """Takes a list of strings and returns a dictionary where keys are strings and values are their lengths."""
  return {s: len(s) for s in string_list}
list_9 = ["apple", "banana", "cherry"]
lengths_dict = string_lengths_dict(list_9)
print(lengths_dict)

{'apple': 5, 'banana': 6, 'cherry': 6}

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

In [75]:
def count_vowels(input_string):
  """Counts the number of vowels in a string."""
  vowels = "aeiouAEIOU"
  vowel_count = 0
  for char in input_string:
    if char in vowels:
      vowel_count += 1
  return vowel_count

my_string = "Hello today is on friday"
number_of_vowels = count_vowels(my_string)
print(f"The number of vowels in the string is: {number_of_vowels}")

The number of vowels in the string is: 8

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

In [76]:

import math

list_of_factorials = [(i, math.factorial(i)) for i in range(1, 6)]
print(list_of_factorials)

[(1, 1), (2, 2), (3, 6), (4, 24), (5, 120)]

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

In [77]:
def merge_dictionaries(list_of_dicts):
  """Merges a list of dictionaries into a single dictionary."""
  merged_dict = {}
  for d in list_of_dicts:
    merged_dict.update(d)
  return merged_dict

dict_list = [{"a": 1, "b": 2}, {"c": 3, "d": 4}, {"e": 5, "f": 6}]
merged_result = merge_dictionaries(dict_list)
print(merged_result)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

In [78]:
list_p = {1,2,3,4,5,6,7,8,9}
list_q = {1,2,3,4}
lisr = list_q.issubset(list_p)
print(lisr)

True

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

In [79]:
list_of_tuples = [(45, 56), (73, 59), (20, 10)]
sorted_list_of_tuples = sorted(list_of_tuples, key=lambda item: item[1])
print(sorted_list_of_tuples)

[(20, 10), (45, 56), (73, 59)]

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

In [80]:
str_w = [34,23,-32,-43,43,23,34,79,89]
new_list = [item for item in str_w if item < 0]
print(new_list)

[-32, -43]

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

In [81]:
set_t = {2,4,2,3,5,7}
set_g = {3,8,7,5,3,5}
union_set = set_t.union(set_g)
print(union_set)

{2, 3, 4, 5, 7, 8}

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

In [82]:
listt = [3,4,5,6,3,4,5,6,7,8]
new_list = reduce(lambda x, y: x * y, listt)
print(new_list)

7257600

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

In [83]:
char_list = ['a', 'b', 'c', 'd', 'e']
my_string = "".join(char_list)
print(my_string)
print(type(my_string))

abcde
<class 'str'>

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

In [84]:
listj = [2,4,5,6,7,4,3,4,5,9,7]
listj.sort()
second_largest = listj[-2]
print(second_largest)

7

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

In [85]:
dictd = [{"name":"joel", "age":45, "height":1.76},
         {"name":"colli", "age":89, "height":1.98},
         {"name":"hely", "age":3, "height":1.98},
         {"name":"ean", "age":6, "height":1.98}]
dictd.sort(key=lambda x: x['name'])
print(dictd)

[{'name': 'colli', 'age': 89, 'height': 1.98}, {'name': 'ean', 'age': 6, 'height': 1.98}, {'name': 'hely', 'age': 3, 'height': 1.98}, {'name': 'joel', 'age': 45, 'height': 1.76}]

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

In [86]:
from collections import Counter

listo = [2, 3, 4, 5, 5, 5, 5, 6, 7, 8, 7, 6, 6, 6, 6, 6, 6, 4, 4, 3]
element_counts = Counter(listo)
most_common_element = element_counts.most_common(1)[0][0]
most_common_count = element_counts.most_common(1)[0][1]
print(f"The most common element is: {most_common_element}")
print(f"It appears {most_common_count} times.")

The most common element is: 6
It appears 7 times.

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

In [87]:
list_of_tuples = [(2, 45, 23, 5, 66, 78, 3, 4, 2, 2, 3, 4, 5, 5)]
sorted_list_of_tuples = sorted(list_of_tuples, key=lambda item: item[0:-1])
print(sorted_list_of_tuples)

[(2, 45, 23, 5, 66, 78, 3, 4, 2, 2, 3, 4, 5, 5)]

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

In [88]:
def remove_duplicate_dictionaries(list_of_dicts):
  """Removes duplicate dictionaries from a list while preserving order."""
  seen = set()
  result = []
  for d in list_of_dicts:
    # Create a hashable representation of the dictionary
    dict_representation = tuple(sorted(d.items()))
    if dict_representation not in seen:
      seen.add(dict_representation)
      result.append(d)
  return result

dictd = [{"name":"joel", "age":45, "height":1.76},
         {"name":"colli", "age":89, "height":1.98},
         {"name":"joel", "age":45, "height":1.76},
         {"name":"ean", "age":6, "height":1.98},
         {"name":"joel", "age":45, "height":1.76},
         {"name":"colli", "age":89, "height":1.98},
         {"name":"joel", "age":45, "height":1.76},
         {"name":"juli", "age":90, "height":1.98}]

unique_dict_list = remove_duplicate_dictionaries(dictd)
print(unique_dict_list)

[{'name': 'joel', 'age': 45, 'height': 1.76}, {'name': 'colli', 'age': 89, 'height': 1.98}, {'name': 'ean', 'age': 6, 'height': 1.98}, {'name': 'juli', 'age': 90, 'height': 1.98}]

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

In [89]:
list_t = [2, 3, 4, 5, 5, 5, 5, 6, 7, 8, 7, 6, 6, 6, 6, 6, 6, 4, 4, 3]
min_number = min(list_t)
max_number = max(list_t)
print(min_number)
print(max_number)

2
8

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

In [90]:
list_e = [2, 3, 4, 5, 5, 5, 5, 6, 7, 8, 7, 6, 6, 6, 6, 6, 6, 4, 4, 3]
list_r = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20] # Added another list
list_of_tuples = list(zip(list_e, list_r))
print(list_of_tuples)

[(2, 1), (3, 2), (4, 3), (5, 4), (5, 5), (5, 6), (5, 7), (6, 8), (7, 9), (8, 10), (7, 11), (6, 12), (6, 13), (6, 14), (6, 15), (6, 16), (6, 17), (4, 18), (4, 19), (3, 20)]

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

In [91]:
def reverse_string_list(input_list):
  """Reverses a list of strings and returns the reversed list."""
  return input_list[::-1]
my_strings = ["apple", "banana", "cherry", "date"]
reversed_strings = reverse_string_list(my_strings)
print(reversed_strings)

['date', 'cherry', 'banana', 'apple']

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

In [92]:
def sum_of_odd_numbers(input_list):
  """Calculates the sum of all odd numbers in a list of integers."""
  return sum(num for num in input_list if num % 2 != 0)

my_numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total_odd = sum_of_odd_numbers(my_numbers)
print(f"The sum of the odd numbers is: {total_odd}")

The sum of the odd numbers is: 25

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

In [93]:
def is_palindrome(input_string):
  """Checks if a string is a palindrome."""
  # Remove spaces and convert to lowercase for case-insensitive check
  processed_string = "".join(input_string.split()).lower()
  return processed_string == processed_string[::-1]

string1 = "racecar"
string2 = "hello"
string3 = "A man a plan a canal Panama"

print(f"'{string1}' is a palindrome: {is_palindrome(string1)}")
print(f"'{string2}' is a palindrome: {is_palindrome(string2)}")
print(f"'{string3}' is a palindrome: {is_palindrome(string3)}")

'racecar' is a palindrome: True
'hello' is a palindrome: False
'A man a plan a canal Panama' is a palindrome: True

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

In [94]:
def find_median(numbers):
  """Finds the median of a list of numbers."""
  sorted_numbers = sorted(numbers)
  n = len(sorted_numbers)
  mid_index = n // 2

  if n % 2 == 0:
    # If the list has an even number of elements, the median is the average of the two middle elements
    median = (sorted_numbers[mid_index - 1] + sorted_numbers[mid_index]) / 2
  else:
    # If the list has an odd number of elements, the median is the middle element
    median = sorted_numbers[mid_index]
  return median

list1 = [1, 3, 2, 4, 5]
list2 = [1, 2, 3, 4, 5, 6]

median1 = find_median(list1)
median2 = find_median(list2)

print(f"The median of {list1} is: {median1}")
print(f"The median of {list2} is: {median2}")

The median of [1, 3, 2, 4, 5] is: 3
The median of [1, 2, 3, 4, 5, 6] is: 3.5

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

In [95]:
from collections import defaultdict

def total_values_by_key(list_of_dicts):
  """Takes a list of dictionaries and returns a dictionary with the total value for each key."""
  total_dict = defaultdict(lambda: defaultdict(list)) # Change to defaultdict(list) for handling non-numeric values
  for d in list_of_dicts:
    for key, value in d.items():
      if isinstance(value, (int, float)): # Check if value is numeric
        # Initialize sum for numeric values if not already present
        if 'sum' not in total_dict[key]:
          total_dict[key]['sum'] = 0
        total_dict[key]['sum'] += value
      else:
        # Handle non-numeric values, e.g., store them in a list
        total_dict[key]['values'].append(value)

  # Return a dictionary with both summed numeric values and lists of non-numeric values
  return dict(total_dict)

list_of_sales = [
    {"item": "apple", "quantity": 10, "price": 1.0},
    {"item": "banana", "quantity": 5, "price": 0.5},
    {"item": "apple", "quantity": 3, "price": 1.0},
    {"item": "cherry", "quantity": 10, "price": 2.0},
]

total_sales_by_item = total_values_by_key(list_of_sales)
print(total_sales_by_item)

{'item': defaultdict(<class 'list'>, {'values': ['apple', 'banana', 'apple', 'cherry']}), 'quantity': defaultdict(<class 'list'>, {'sum': 28}), 'price': defaultdict(<class 'list'>, {'sum': 4.5})}

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

In [96]:
from collections import Counter

def find_mode(numbers):
  """Finds the mode of a list of numbers."""
  # Handle cases with empty list
  if not numbers:
    return None

  counts = Counter(numbers)
  max_count = max(counts.values())
  mode = [num for num, count in counts.items() if count == max_count]

  # If all elements appear the same number of times, there is no unique mode
  if len(mode) == len(numbers):
      return "No unique mode (all elements appear equally often)"

  return mode


list1 = [1, 2, 2, 3, 3, 3, 4, 5]
list2 = [1, 1, 2, 2, 3, 3]
list3 = [1, 2, 3, 4, 5]
list4 = []

mode1 = find_mode(list1)
mode2 = find_mode(list2)
mode3 = find_mode(list3)
mode4 = find_mode(list4)


print(f"The mode of {list1} is: {mode1}")
print(f"The mode of {list2} is: {mode2}")
print(f"The mode of {list3} is: {mode3}")
print(f"The mode of {list4} is: {mode4}")

The mode of [1, 2, 2, 3, 3, 3, 4, 5] is: [3]
The mode of [1, 1, 2, 2, 3, 3] is: [1, 2, 3]
The mode of [1, 2, 3, 4, 5] is: No unique mode (all elements appear equally often)
The mode of [] is: None

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

In [97]:
def sum_of_squares(numbers):
  """Calculates the sum of the squares of all numbers in a list."""
  return sum(num**2 for num in numbers)

my_numbers = [1, 2, 3, 4, 5]
total_squares = sum_of_squares(my_numbers)
print(f"The sum of the squares is: {total_squares}")

The sum of the squares is: 55

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

In [98]:
list_of_cubes = [(i, i**3) for i in range(1, 6)]
print(list_of_cubes)

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

In [99]:
def find_primes_up_to_n(n):
  """Returns a list of all prime numbers up to n."""
  primes = []
  for num in range(2, n + 1):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
      if num % i == 0:
        is_prime = False
        break
    if is_prime:
      primes.append(num)
  return primes

n_value = 20
prime_numbers = find_primes_up_to_n(n_value)
print(f"Prime numbers up to {n_value}: {prime_numbers}")

Prime numbers up to 20: [2, 3, 5, 7, 11, 13, 17, 19]

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

In [100]:
def find_common_keys(dict1, dict2):
  """Finds the common keys between two dictionaries."""
  return list(dict1.keys() & dict2.keys())

dict_a = {"a": 1, "b": 2, "c": 3}
dict_b = {"b": 4, "c": 5, "d": 6}
common_keys = find_common_keys(dict_a, dict_b)
print(f"The common keys are: {common_keys}")

The common keys are: ['c', 'b']

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

In [101]:
def strings_longer_than_five(string_list):
  """Returns a list of strings from the input list that have more than 5 characters."""
  return [s for s in string_list if len(s) > 5]

my_strings = ["apple", "banana", "cherry", "date", "grapefruit"]
long_strings = strings_longer_than_five(my_strings)
print(long_strings)

['banana', 'cherry', 'grapefruit']

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

In [102]:
empty_list = []
long_strings_from_empty = strings_longer_than_five(empty_list)
print(f"Result with empty list: {long_strings_from_empty}")

Result with empty list: []

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [103]:
def strings_to_tuples_with_length(string_list):
  """Converts a list of strings into a list of tuples (string, length)."""
  return [(s, len(s)) for s in string_list]

my_strings = ["apple", "banana", "cherry", "date"]
string_tuples = strings_to_tuples_with_length(my_strings)
print(string_tuples)

[('apple', 5), ('banana', 6), ('cherry', 6), ('date', 4)]